#snake {
  position: absolute;
  width: 400px;
  height: 280px;
  margin: 40px 0 40px -200px;
  left: 50%;
  border: 1px solid #333;
}
.row {
  height: 20px;
}
.row .cell {
  display: inline-block;
  border-style: solid;
  border-color: #dadaff;
  border: none;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-transition: border-radius 1s;
}
.row .cell:first-child {
  border-left-width: 1px;
}
.row .cell.apple {
  background-color: #b45050;
  border-radius: 9px;
}
.row .cell.snake {
  background-color: rgba(80, 160, 80, 0.75);
}
.row .cell.fade-step-1 {
  opacity: .75;
}
.row .cell.fade-step-2 {
  opacity: .55;
}
.row .cell.fade-step-3 {
  opacity: .3;
}
