.row {
  height: 22px;
}
.row .cell {
  display: inline-block;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 1px 1px 0;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -webkit-transition: opacity;
}
.row .cell:first-child {
  border-left-width: 1px;
}
.row .cell.apple {
  background-color: #b45050;
}
.row .cell.snake {
  background-color: rgba(80, 160, 80, 0.75);
}
.row .cell.fade-step-1 {
  opacity: .75;
}
.row .cell.fade-step-2 {
  opacity: .55;
}
.row .cell.fade-step-3 {
  opacity: .3;
}
